{% extends 'shop/base.html' %}

{% load static %}
{##}
{% block title %}
	{{query}}
{% endblock %}

{% block content %}


<div class="container-fluid">




      <div class="row" style="padding-top: 4%; padding-left: 6%">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
              <div class="row">
					{%if categories_count == 0 %}
					<p style= "padding-left: 10px"><small><em><b>Sorry, No results Found! Try: engine, engine oil.</b></em></small></p>
					{%else%}
					<p style= "padding-left: 10px" ><small><em><b> {{categories_count}} Results found:</b></em> </small></p>
					{%endif%}

                      <div class="col-md-8">
                        {% for product in products %}

                            <div class="list-group">
                                <h1 class="text-left" style="margin: 0px">
                                    <a href="{{ product.get_absolute_url }}" style="font-size:large; color: #0033B3"><b>{{ product.number.name }}</b></a>
                                </h1>
                                <p class ="text-left"><a href="{{product.get_absolute_url}}" style="font-size: 14px; color: #1e7e34"><em>{{product.number.url}}</em></a></p>
                                <h3 class ="text-left"><a href="{{ product.get_absolute_url }}" style="font-size:medium; margin: 0px; color: #0033B3"><b>{{ product.name }}</b></a></h3>
								<p class ="text-left" style="padding-bottom: 0px;;" style="font-size:medium; margin: 0px" >{{product.description}}</p>
								<a class= "text-left" href="{{ product.get_absolute_url }}">
                                <img src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'img/default.jpg' %} {% endif %}" alt="..." href = "account:product_detail" style="height: 80px; width: auto">
                            </a><br>
														{% if product.number.rating >= 4.5%}
													<a class ="text-left" href="#" style="font-size:small" data-toggle="tooltip" data-placement="right" title="The product is platinum rated: {{product.number.rating}}/5"><b> Rating:{{product.number.rating}}/5</b></a>
													{% elif product.number.rating < 4.5 and product.number.rating >= 3.5 %}
													<a class ="text-left" href="#" style="font-size:small" data-toggle="tooltip" data-placement="right" title="The product is gold rated: {{product.number.rating}}/5"><b> Rating:{{product.number.rating}}/5</b></a>
													{%else%}
													<a class ="text-left" href="#"  style="font-size:small" data-toggle="tooltip" data-placement="right" title="The product is rated: {{product.number.rating}}/5"><b> Rating:{{product.number.rating}}/5</b></a>
													{%endif%}

													<a class = "space"  style="font-size:small" data-toggle="tooltip" data-placement="right" title="max price :{{product.price}}"><b> $ {{ product.price }}</b></a>

								{% if request.user.is_authenticated %}
								<a href="#" data-toggle="modal" data-target="#myModal" class= "space" style="font-size:small"><b> ✉ Message <!--$ {{ product.message }}--></b></a>
								  <div class="modal fade" id="myModal" role="dialog">
									<div class="modal-dialog modal-lg">
									  <div class="modal-content">
										<div class="modal-header">
										  <button type="button" class="close" data-dismiss="modal" >&times;</button>
										  <h4 class="modal-title" class="space">✉ Message</h4>
										</div>
										<div class="modal-body">
										<form method="post">
											<textarea rows="4" cols="100" name="message" placeholder="Write your message here">Hi,
											</textarea>
                                        </form>
										</div>
										<div class="modal-footer">
										  <a href="#" class="btn btn-default" type="submit"data-dismiss="modal">Send</a>
										  </form>
										</div>
									  </div>
									</div>
								  </div>

								{% else %}
								<a href="#" data-toggle="modal" data-target="#myModal" class= "space" style="font-size:small"><b>✉ Message <!--$ {{ product.message }}--></b></a>
								  <div class="modal fade" id="myModal" role="dialog">
									<div class="modal-dialog">

									  <!-- Modal content-->
									  <div class="modal-content">
										<div class="modal-header">
										  <h4 class="modal-title">Selcouth account required</h4>
										</div>
										<div class="modal-body">
										  <p>You need to sign-in to send a message.</p>
										</div>
										<div class="modal-footer">
										<a href="{% url 'account:login'%}" class="btn btn-default">Log-in</a>
										<a href="{% url 'account:custreg'%}" class="btn btn-default">register</a>
										</div>
									  </div>

									</div>
								  </div>

								{% endif %}
								<hr>
                                </a>
								</div>
								{% endfor %}

          <!-- /.blog-post -->


        </div>
      </div>

	  </div>

    </div><!-- /.container -->



</div>
</div>
{% endblock %}
